<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EduTrackSystem</display-name>
  <welcome-file-list>
    <welcome-file>homePage.html</welcome-file>
    <welcome-file>homePage.htm</welcome-file>
    <welcome-file>homePage.jsp</welcome-file>
    <welcome-file>homePage.html</welcome-file>
    <welcome-file>homePage.htm</welcome-file>
    <welcome-file>homePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>forgot</display-name>
    <servlet-name>forgot</servlet-name>
    <servlet-class>com.ets.servlets.forgot</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrations</display-name>
    <servlet-name>Registrations</servlet-name>
    <servlet-class>com.ets.servlets.Registrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrations</servlet-name>
    <url-pattern>/Registrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPendingRequestsServlet</display-name>
    <servlet-name>ShowPendingRequestsServlet</servlet-name>
    <servlet-class>com.ets.servlets.ShowPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPendingRequestsServlet</servlet-name>
    <url-pattern>/ShowPendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.ets.servlets.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>Create</param-name>
    <param-value>E:\data\</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.ets.servlets.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.ets.servlets.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showStudentDetails</display-name>
    <servlet-name>showStudentDetails</servlet-name>
    <servlet-class>com.ets.servlets.showStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showStudentDetails</servlet-name>
    <url-pattern>/showStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showMentorDetails</display-name>
    <servlet-name>showMentorDetails</servlet-name>
    <servlet-class>com.ets.servlets.showMentorDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMentorDetails</servlet-name>
    <url-pattern>/showMentorDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCoursesServelt</display-name>
    <servlet-name>ShowCoursesServelt</servlet-name>
    <servlet-class>com.ets.servlets.ShowCoursesServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCoursesServelt</servlet-name>
    <url-pattern>/ShowCoursesServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGradesServlet</display-name>
    <servlet-name>ShowGradesServlet</servlet-name>
    <servlet-class>com.ets.servlets.ShowGradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGradesServlet</servlet-name>
    <url-pattern>/ShowGradesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisteredStudentsServlet</display-name>
    <servlet-name>ShowRegisteredStudentsServlet</servlet-name>
    <servlet-class>com.ets.servlets.ShowRegisteredStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisteredStudentsServlet</servlet-name>
    <url-pattern>/ShowRegisteredStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUnRegisteredStudentsServlet</display-name>
    <servlet-name>ShowUnRegisteredStudentsServlet</servlet-name>
    <servlet-class>com.ets.servlets.ShowUnRegisteredStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUnRegisteredStudentsServlet</servlet-name>
    <url-pattern>/ShowUnRegisteredStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProfile</display-name>
    <servlet-name>AdminEditProfile</servlet-name>
    <servlet-class>com.ets.servlets.AdminEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProfile</servlet-name>
    <url-pattern>/AdminEditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPassword</display-name>
    <servlet-name>GetPassword</servlet-name>
    <servlet-class>com.ets.servlets.GetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassword</servlet-name>
    <url-pattern>/GetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ets.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
